{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('persons_myinformation_update') }}">
	<table>
		<tr>
			<td>
				{{ form.name.label }}
			</td>
			<td>
				{{ form.name }}
			</td>
			<td>
				<ul>
				{% for error in form.name.errors %}
					<li style="color:red">{{ error }}</li>
				{% endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.email.label }}
			</td>
			<td>
				{{ form.email }}
			</td>
			<td>
				<ul>
				{% for error in form.email.errors %}
					<li style="color:red">{{ error }}</li>
				{% endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.address.label }}
			</td>
			<td>
				{{ form.address }}
			</td>
			<td>
				<ul>
				{% for error in form.address.errors %}
					<li style="color:red">{{ error }}</li>
				{% endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="1">
				<input type="submit" value="Update"/>
			</td>
            <td>
                <button style="color:red" formaction="{{ url_for('delete_information') }}">Delete information</button>
            </td>
		</tr>
	</table>
</form>
{% endblock %}